<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Buck - The most advanced timer ecosystem in the history</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500&display=swap" rel="stylesheet">

        <style>
            html, body, #body {
                height: 100%;
                width: 100%;
            }
        </style>
        <link rel="stylesheet" href="/static/index.css">

    </head>
    <body>
        <div id="body"></div>
        <script>
            window.bundleVersion = "{{ app_version }}";
        </script>

        <script src="/static/js/index-bundle.js?_={{ app_version }}"></script>
        {% if is_dev %}
            <script src="http://{{ request.url.hostname }}:35729/livereload.js"></script>
        {% endif %}
    </body>
</html>
